.custom-input,
.custom-textarea {
  position: relative;

  display: flex;

  @media screen and (max-width: 767px) {
    padding: 4px 0 10px;
    width: 100%;
  }

  label {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      padding: 15px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: #316dc2;
      width: 100%;

      border-radius: 8px;
      outline: none;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }
    }

    textarea {
      min-height: 98px;
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;
      background: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.custom-input--state label input:hover:not(:disabled),
.custom-input--state label textarea:hover:not(:disabled) {
  outline: 0;
  border: 1px solid #ffffff;
  opacity: 1;
}

.custom-input--state label input:active:not(:disabled),
.custom-input--state label textarea:active:not(:disabled) {
  outline: 0;
  border: 1px solid #ffffff;
}

.custom-input--state label input:focus-within:not(:disabled),
.custom-input--state label textarea:focus-within:not(:disabled) {
  outline: 0;
  border: 1px solid #ffffff;
}

.custom-input--state label input:disabled,
.custom-input--state label textarea:disabled {
  opacity: 0.4;
}

.custom-input--state label:focus-within:not(:disabled) span,
.custom-input--state label:hover:not(:disabled) span,
.custom-toggle__label:focus-within:not(:disabled) p,
.custom-toggle__label:hover:not(:disabled) p {
  opacity: 1;
}


.custom-input--modal label > input {
  background-color: transparent;
  border: 1px solid rgba(72, 72, 72, 0.3);
  color: rgba(72, 72, 72);
}

.custom-input--modal label > input:hover:not(:disabled),
.custom-input--modal label > input:focus-within:not(:disabled) {
  border: 1px solid rgba(72, 72, 72, 1);
}
