.faq__wrapper {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding-top: 95px;
  }

  @include vp-767 {
    padding-top: 67px;
  }
}

.faq__title h2 {
  font: inherit;
  margin: 0;
  margin-bottom: 65px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.faq__qustions-list {
  display: flex;
  flex-direction: column;
  padding: 0 106px;
  gap: 10px;

  @include vp-1199 {
    padding: 0;
  }
}

.faq__qustions-item {
  border: 1px solid $color-main-btn;
  border-radius: 16px;
  padding: 39px;
  color: $color-add-text;

  @include vp-1199 {
    padding: 29px;
  }

  @include vp-767 {
    padding: 20px 14px 18px;
  }
}

.faq__qustions-item:nth-child(n+4) {
  padding: 32px 39px;

  @include vp-1199 {
    padding: 23px 29px 25px;
  }

  @include vp-767 {
    padding: 20px 14px 18px;
  }
}

.faq__qustions-item:nth-child(n+4) .faq__qustions-button {
  margin-top: 5px;

  @include vp-767 {
    margin-top: 0;
  }
}

.faq__qustions-item.is-active {
  background-color: $color-acc-bg;
  color: $color-default-white;
  padding-bottom: 35px;

  @include vp-1199 {
    padding-bottom: 28px;
  }

  @include vp-767 {
    padding-bottom: 13px;
  }
}

.faq__qustions-title {
  display: grid;
  grid-template-columns: auto auto;

  @include vp-1199 {
    align-items: center;
  }

  @include vp-767 {
    gap: 32px;
  }
}

.faq__qustions-title h3 {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  color: inherit;
  max-width: 600px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
    max-width: 480px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.faq__qustions-button {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  justify-self: end;
  background-color: $color-main-btn;
  border-radius: 50%;
}

.faq__qustions-button::before,
.faq__qustions-button::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: $color-default-white;
  top: 50%;
  left: 10px;
}

.faq__qustions-button::after {
  transform: rotate(90deg);
}

.faq__qustions-item.is-active .faq__qustions-button::after {
  display: none;
}

.faq__qustions-item.is-active .faq__qustions-button::before {
  background-color: $color-main-icon;
}


.faq__qustions-item.is-active .faq__qustions-button {
  background-color: $color-default-white;
}

.faq__qustions-description {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  padding-right: 300px;

  @include vp-1199 {
    padding-right: 80px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.faq__qustions-description p {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  line-height: 26px;
  color: $color-main-bg;

  @include vp-1199 {
    margin-top: 15px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
