.hero__wrapper {
  position: relative;
}

.hero__slider-slide img {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;

  @include vp-767 {
    height: 568px;
  }
}

.hero__slider-slide {
  width: 100%;
  position: relative;
  display: flex;
  align-items: end;
  min-height: 800px;
  padding-top: 398px;
  padding-bottom: 58px;
  margin: 0 auto;

  @include vp-1199 {
    min-height: 1024px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    min-height: 568px;
    height: auto;
    padding-top: 230px;
    padding-bottom: 20px;
  }
}

.hero__slider-slide::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-on-photo;
  z-index: 1;
}


.hero__slide-info {
  padding: 0 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  @include vp-1199 {
    min-height: 250px;
    width: auto;
    padding: 0 45px;
  }

  @include vp-767 {
    min-height: 240px;
    padding: 0 15px;
  }
}

.hero__pagination-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.hero__pagination {
  position: absolute;
  top: 424px;
  height: fit-content;
  min-height: 30px;
  left: 20px;
  background-color: $color-default-white;
  margin-right: auto;
  width: fit-content;
  border-radius: 20px 20px 0 0;
  margin-bottom: -1px;
  padding: 7px 17px;
  max-height: 40px;
  z-index: 10;

  @include vp-1199 {
    top: 680px;
    left: 45px;
  }

  @include vp-767 {
    border-radius: 12px 12px 0 0;
    padding: 3px 14px;
    top: 280px;
    left: 15px;
  }
}

.hero__slide-title {
  background-color: $color-default-white;
  padding: 40px 50px 30px 50px;
  border-radius: 0 30px 30px 0;
  width: 968px;

  @include vp-1199 {
    padding: 32px 40px 20px 40px;
    margin-right: 20px;
    width: auto;
  }

  @include vp-767 {
    padding: 20px 14px 13px 14px;
    margin-right: 0;
    width: auto;
    border-radius: 0 16px 16px 0;
  }
}

.hero__slide-title h2 {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;

  font-size: 54px;
  line-height: 62px;
  font-weight: 400;
  color: $color-add-text;

  @include vp-1199 {
    font-size: 36px;
    line-height: 44px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px;
  }
}

.hero__slide-description {
  margin-top: -1px;
  position: relative;
  padding: 1px 35px;
  padding-bottom: 36px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  z-index: -1;
  display: grid;
  grid-template-columns: 450px 230px;
  align-items: center;
  width: 772px;

  @include vp-1199 {
    margin-top: -1px;
    grid-template-columns: auto auto;
    margin-right: 85px;
    padding: 1px 40px 30px 40px;
    width: auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding: 0;
    background-color: transparent;
    align-items: flex-start;
  }
}

.hero__slide-description--last-slide {
  margin-top: -8px;
  padding-bottom: 30px;

  @include vp-1199 {
    margin-top: -1px;
  }

  @include vp-767 {
    padding-bottom: inherit;
  }
}

.hero__slide-description p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    padding: 0 14px;
    padding-bottom: 8px;
    margin-right: 29px;
    border-radius: 0 0 14px 0;
    background-color: $color-default-white;
    align-items: start;
    justify-content: start;
  }
}

.hero__slide-link-wrapper {
  padding-left: 25px;
  max-width: 240px;
  justify-content: end;

  @include vp-1199 {
    align-self: self-start;
  }

  @include vp-767 {
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;
    width: 63%;
    margin-top: -1px;
    max-width: none;
  }
}

.hero__slide-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  margin-right: 0;

  @include vp-767 {
    width: 100%;
    justify-content: space-between;
  }
}
