.news__wrapper {
  padding-top: 125px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
    display: block;
    margin: 0 auto;
  }
}

.news__title {
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 45px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    text-align: center;
    margin-bottom: 24px;
  }
}

.news__title h2 {
  margin: 0;
  font: inherit;
}

.news__category-wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-left: 15px;
  }
}

.news__category-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1199 {
    gap: 10px;
    max-width: 810px;
  }

  @include vp-767 {
    gap: 12px;
    flex-wrap: nowrap;
    overflow: auto;
  }
}


.news__category-link {
  padding: 12px 26px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-add-text;

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
  }
}

.news__slider {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin-bottom: 40px;
  max-width: 1240px;
  overflow: hidden;
  width: 100%;

  @include vp-1199 {
    width: 678px;
    height: 730px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    width: 100%;
    height: 185vw;
    margin-bottom: 18px;
  }
}

.news__slider-wrapper {
  // @include vp-1199 {
  //   display: grid;
  //   grid-template-columns: auto auto;
  //   gap: 30px;
  // }

  @include vp-1199 {
    flex-wrap: wrap;
  }
}

.news__slider-slide {
  position: relative;
  display: flex;
  align-items: end;
  margin-right: 32px;
  min-height: 400px;
  width: 286px;

  @include vp-1199 {
    margin: 0;
    min-height: 350px;
    min-width: 324px;
    height: 350px;
    width: 100%;
    // height: 100%;
  }

  @include vp-767 {
    // height: 350px;
    width: auto;
    min-height: auto;
    min-width: 290px;
    height: 100%;
    // min-width: 100%;
    // min-height: 330px;
    // max-width: 0;
    // max-height: 100%;
  }
}

.news__slider-slide:nth-child(odd) {
  @include vp-767 {
    height: 103.5vw;
    min-height: 330px;
  }
}

.news__slider-slide:nth-child(even) {
  @include vp-767 {
    height: 70vw;
    min-height: 240px;
  }
}

.news__slider-slide:nth-child(even) img {
  @include vp-767 {
    height: 70vw  ;
    min-height: 240px;
  }
}

.news__slider-slide:last-child {
  margin-right: 0;
}

.news__slider-slide--first-slide {
  width: 604px;
  order: 0;

  @include vp-1199 {
    width: 324px;
    min-width: 324px;
    order: 0;
  }

  @include vp-767 {
    height: 100%;
    width: 100%;
    min-width: 290px;
  }
}

.news__slider-slide--second-slide {
  order: 1;

  @include vp-1199 {
    order: 0;
  }
}

.news__slider-slide--third-slide {
  order: 3;
  @include vp-1199 {
    order: 0;
  }
}

.news__slider-slide--four-slide {
  order: 2;
  @include vp-1199 {
    order: 0;
  }
}

.news__slider-slide--fifth-slide {
  order: 5;
  @include vp-1199 {
    order: 0;
  }
}

.news__slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    height: 100%;
    min-height: 100%;
  }
}

.news__slide-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;

  @include vp-767 {
    height: auto;
    min-height: 100%;
  }
}

.news__slide-wrapper {
  margin-bottom: -1px;
  margin-left: -1px;
  width: 100%;

  @include vp-1199 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.news__slider-slide--first-slide .news__slide-wrapper {
  margin-top: 167px;
  width: 100%;

  @include vp-1199 {
    margin-top: 0;
    min-width: 256px;
  }
}

.news__slide-date {
  margin-bottom: -1px;
  padding: 2px 12px 1px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 78px;
}

.news__slider-slide--first-slide .news__slide-date {
  margin-bottom: -1px;
  padding: 2px 12px 1px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 78px;
}

.news__slide-date span {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $color-add-text;
}

.news__slide-title {
  padding: 4px 10px 2px 0;
  max-width: 214px;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;

  @include vp-1199 {
    max-width: 207px;
  }

  @include vp-767 {
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
}

.news__slider-slide--first-slide .news__slide-title {
  padding: 10px 16px 5px 0;
  max-width: 291px;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;

  @include vp-1199 {
    padding-top: 6px;
    padding-bottom: 2px;
    max-width: 207px;
  }

  @include vp-1199 {
    padding-top: 12px;
    max-width: 200px;
  }
}

.news__slide-title h3 {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-add-text;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
  }
}

.news__slide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: -1px;
  padding: 8px 18px 14px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 240px;

  @include vp-1199 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-top: 14px;
    padding-right: 8px;
    max-width: 263px;
  }
}

.news__slider-slide--first-slide .news__slide-info {
  margin-top: -1px;
  padding: 7px 18px 15px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 389px;

  @include vp-1199 {
    padding-top: 8px;
    padding-bottom: 10px;
    max-width: 240px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-right: 10px;
    max-width: 263px;
  }
}

.news__slide-info p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.news__slide-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $color-main-btn;
}

.news__slider-controls {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__slider-button {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__slider-button--prev {
  transform: rotate(-180deg);
}

.news__slider-pagination {
  counter-reset: number;
}

.news__slider-pagination .swiper-pagination-bullet {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
}

.news__slider-pagination .swiper-pagination-bullet::before {
  content: counter(number);
  counter-increment: number;
  position: absolute;
  top: 3px;
  left: 10px;
  color: $color-add-text;
}

.news__slider-pagination .swiper-pagination-bullet-active::before {
  color: $color-default-white;
}
