.news__wrapper {
  padding-top: 120px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
}

.news__title {
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 52px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.news__title h2 {
  margin: 0;
  font: inherit;
}

.news__category-wrapper {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    align-self: self-start;
  }
}

.news__category-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1199 {
    gap: 10px;
  }

  @include vp-767 {
    gap: 12px;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.news__category-link {
  padding: 12px 26px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-add-text;

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
  }
}

.news__slider {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin-bottom: 40px;
  max-width: 1240px;

  @include vp-1199 {
    width: 678px;
    height: auto;
  }

  @include vp-767 {
    width: 100%;
  }
}

.news__slider-wrapper {
  @include vp-1199 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    row-gap: 20px;
  }
}

.news__slider-slide {
  position: relative;
  display: flex;
  align-items: end;
  margin-right: 32px;
  min-height: 400px;
  min-width: 286px;
  max-width: 286px;

  @include vp-1199 {
    margin-right: 0;
    min-height: 350px;
    min-width: 324px;
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    height: 100%;
    min-width: 100%;
    min-height: 330px;
    max-width: 0;
    max-height: 100%;
  }
}

.news__slider-slide:last-child {
  margin-right: 0;
}

.news__slider-slide--first-slide {
  width: 604px;
  min-width: 604px;

  @include vp-1199 {
    width: auto;
    min-width: 324px;
  }

  @include vp-767 {
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
}

.news__slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    height: 100%;
  }
}

.news__slide-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;

  @include vp-767 {
    height: auto;
  }
}

.news__slide-wrapper {
  margin-bottom: -1px;
  margin-left: -1px;
  min-width: 256px;

  @include vp-1199 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.news__slider-slide--first-slide .news__slide-wrapper {
  margin-top: 167px;
  min-width: 405px;

  @include vp-1199 {
    margin-top: 0;
    min-width: 256px;
  }
}

.news__slide-date {
  margin-bottom: -1px;
  padding: 2px 12px 1px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 78px;
}

.news__slider-slide--first-slide .news__slide-date {
  margin-bottom: -1px;
  padding: 2px 12px 1px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 78px;
}

.news__slide-date span {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $color-add-text;
}

.news__slide-title {
  padding: 4px 10px 2px 0;
  max-width: 214px;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;

  @include vp-1199 {
    max-width: 207px;
  }
}

.news__slider-slide--first-slide .news__slide-title {
  padding: 10px 16px 5px 0;
  max-width: 291px;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;

  @include vp-1199 {
    padding-top: 6px;
    padding-bottom: 2px;
    max-width: 207px;
  }
}

.news__slide-title h3 {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-add-text;

  @include vp-1199 {
    font-size: 20px;
    line-height: 24px;
  }
}

.news__slide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: -1px;
  padding: 12px 18px 15px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 240px;
}

.news__slider-slide--first-slide .news__slide-info {
  margin-top: -1px;
  padding: 12px 18px 15px 0;
  background-color: $color-main-bg;
  border-radius: 0 12px 0 0;
  max-width: 389px;

  @include vp-1199 {
    padding-top: 8px;
    padding-bottom: 10px;
    max-width: 240px;
  }
}

.news__slide-info p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }
}

.news__slide-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $color-main-btn;
}

.news__slider-controls {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__slider-button {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__slider-button--prev {
  transform: rotate(-180deg);
}

.news__slider-pagination {
  counter-reset: number;
}

.news__slider-pagination .swiper-pagination-bullet {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
}

.news__slider-pagination .swiper-pagination-bullet::before {
  content: counter(number);
  counter-increment: number;
  position: absolute;
  top: 3px;
  left: 10px;
  color: $color-add-text;
}

.news__slider-pagination .swiper-pagination-bullet-active::before {
  color: $color-default-white;
}
